<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="../css/style.css" />

</head>
<body>
    <div>
        <form action="/users" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="displayname">Display Name:</label>
            <input type="text" id="displayname" name="displayname">
            <label for="age">Age:</label>
            <input type="text" id="age" name="age" required>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>